@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

*, *::before, *::after {
  box-sizing: border-box;
}

input, button, select, textarea {
  font-family: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  background-color: #FEAFC3;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  margin: 0;
  padding: 12px 32px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #2D3440;
  background-color: #FCFCFC;
  border: none;
  outline: 4px solid rgba(255, 255, 255, .4);
  border-radius: 26px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .1);
  cursor: pointer;
}

.sent-form-button {
  color: #FCFCFC;
  background-color: #FF2F64;
  outline: 4px solid #FF2F644D;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .1);
}

.feedback-form-button {
  min-height: 46px;
  color: #FCFCFC;
  background-color: #FF2F64;
  outline: 4px solid #FF2F644D;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .1);
}

.main-page-container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  width: 1366px;
  padding: 0 98px;
}

/* Раздел header */

.page-header {
  display: flex;
  width: 100%;
  min-height: 104px;
}

.logo-wrapper {
  display: flex;
  margin-right: 16px;
  align-items: center;
}

.logo {
  display: block;
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.user-info-list {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(3, auto);
  min-width: 422px;
  list-style-type: none;
}

.user-info-item {

}

.user-info-link {
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.catalog-button {
  min-width: 117px;
  padding: 8px 38px 8px 16px;
}

.delivery-button {
  min-width: 179px;
  padding: 8px 16px;
}

.about-button {
  min-width: 126px;
  padding: 8px 16px;
}

.user-menu {
  display: flex;
  margin-left: auto;
  min-width: 431px;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.contact-phone {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #2D3440;
  text-decoration: none;
}

.user-menu-list {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 16px;
}

.user-menu-item {

}

.user-menu-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, .3);
  cursor: pointer;
}

.search-button {
  display: flex;
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 27px;
}

.search-button::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 7px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url("../images/header/search-icon.svg");
  background-repeat: no-repeat;
}

.sign-in-button {
  position: relative;
  padding: 6px 16px 6px 38px;
  font-size: 14px;
  line-height: 20px;
  min-height: 32px;
  font-weight: 400;
}

.sign-in-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 17px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url("../images/header/sign-in-icon.svg");
  background-repeat: no-repeat;
}

.shopping-cart-button {
  position: relative;
  padding: 6px 16px 6px 38px;
  font-size: 14px;
  line-height: 20px;
  min-height: 32px;
  font-weight: 400;
}

.shopping-cart-counter {

}

.shopping-cart-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url("../images/header/shopping-cart-icon.svg");
  background-repeat: no-repeat;
}


/* Раздел main */

.main-container {
  flex-grow: 1;
}


.main-page-slider {
  position: relative;
  margin-bottom: 80px;
  max-width: 1170px;
}

.slider-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-item {

}

.slider-item-current {
  display: flex;
}

.slider-content-wrapper {
  padding-left: 70px;
  padding-top: 136px;
}

.slider-title {
  margin: 0;
  margin-bottom: 24px;
  width: 470px;
  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
  color: #2D3440;
}

.slider-subtitle {
  margin: 0;
  margin-bottom: 48px;
  width: 429px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #2D3440;
}

.order-button {

}

.slider-image-wrapper {
  display: flex;
  margin-right: 37px;
  width: 367px;
  height: 554px;
  margin-left: -15px;
}

.current-image {
  position: relative;
  display: flex;
  padding: 21px 20px 26px;
  z-index: 1;
}

.current-image::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 19px;
  transform: translateY(-50%);
  width: 328px;
  height: 312px;
  background-color: #FFCBD8;
  border-radius: 50%;
  z-index: -1;
}

.additional-image {

}

.slider-buttons-wrapper {
  display: flex;
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  width: 363px;
  justify-content: space-between;
}

.slider-button {
  width: 38px;
  height: 38px;
  border: 2px solid #FCFCFC;
  border-radius: 26px;
  background-color: rgba(255, 255, 255, .3);
  cursor: pointer;
}

.slider-button-prev {

}

.slider-button-next {

}

.additional-items-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 41px;
}

.additional-items {
  position: relative;
  display: flex;
  width: 100px;
  height: 150px;
  justify-content: center;
  z-index: 1;
}

.additional-items::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 100px;
  height: 100px;
  background-color: #FFCBD8;
  border-radius: 50%;
  opacity: .4;
  z-index: -1;
}


/* Раздел с slider pagination  */

.slider-pagination-list {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 0;
  left: 0;
  gap: 8px;
  list-style-type: none;
}

.slider-pagination-item {
  display: flex;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  background-color: #FCFCFC;
  opacity: .3;
  cursor: pointer;
}

.slider-pagination-button-current {
  opacity: 1;
}

/* Раздел с slider-social-links  */

.slider-social-list {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 0;
  right: 0;
  gap: 16px;
  list-style-type: none;
}

.slider-social-item {
  display: flex;
}

.slider-social-link {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  outline: 2px solid rgba(255, 255, 255, .3);
  border-radius: 24px;
  cursor: pointer;
}

.telegram {
  background-image: url("../images/main-slider/telegram.svg");
}

.vk {
  background-image: url("../images/main-slider/vk.svg");
}

.youtube {
  background-image: url("../images/main-slider/youtube.svg");
}


/* section order and recive */

.order-recive-wrapper {
  margin-bottom: 80px;
  max-width: 1170px;
}

.order-recive-title {
  margin: 0 auto;
  margin-bottom: 56px;
  max-width: 435px;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
  color: #2D3440;
}

.order-recive-banners-wrapper {
  display: flex;
  gap: 30px;
}

/* raspberries card and marshmallow card*/

.order-recive-banners {
  position: relative;
  padding: 36px 218px 36px 36px;
  max-width: 570px;
  border-radius: 16px;
  background-color: #FF7799;
}

.raspberries-banner::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 219px;
  height: 268px;
  background-image: url("../images/main-slider/raspberries-image.png");
  background-repeat: no-repeat;
}

.marshmallow-banner::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 219px;
  height: 268px;
  background-image: url("../images/main-slider/marshmallow-image.png");
  background-repeat: no-repeat;
}

.order-recive-banners-content {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.order-recive-banners-title {
  display: inline-block;
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #2D3440;
}

.order-recive-banners-subtitle {
  margin: 0;
  color: #2D3440;
}

.want-gift-button {
  max-width: 176px;
  text-decoration: none;
}

/* popular flavors section */

.popular-flavors-wrapper {
  margin-bottom: 80px;
}

.popular-flavors-title {
  margin: 0 auto;
  margin-bottom: 56px;
  max-width: 527px;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
  color: #2D3440;
}

/* popular flavors cards */

.popular-flavors-list {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  list-style-type: none;
}

.popular-flavors-item {
  position: relative;
  display: flex;
  flex-direction: column;
}

.popular-flavors-item::before {
  content: "";
  position: absolute;
  padding: 0 40px 24px;
  right: 0;
  bottom: 0;
  width: 270px;
  height: calc(100% - 52px);
  border-radius: 8px;
  background-color: #FCFCFC;
  z-index: -1;
}

.ice-cream-image-link {
  display: flex;
  padding: 0 51px 16px;
}

.popular-flavors-content {
  display: flex;
  padding: 0 40px 24px;
  flex-direction: column;
}

.ice-cream-image {
  border-radius: 50%;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .1);
}

.ice-cream-title {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.popular-flavors-link {
  display: inline-block;
  margin-bottom: 8px;
  color: #2D3440;
  word-break: break-all;
  text-decoration: none;
}

.ice-cream-subtitle {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  text-align: center;
  color: #565C66;
}

.ice-cream-price-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ice-cream-price {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #2D3440;
}

.buy-ice-cream-button {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 26px;
  background-color: #FF2F64;
  background-image: url("../images/main-slider/buy-ice-cream-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}


/* advantages section */

.advantages {
  margin-bottom: 80px;
  padding: 24px;
  border-radius: 16px;
  background-image: url("../images/main/advantages-background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.advantages-wrapper {
  padding: 56px 40px;
  border-radius: 16px;
  background-color: #FFFFFF;
}

.advantages-title {
  margin: 0;
  margin-bottom: 56px;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
  color: #2D3440;
}

.advantages-list {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: 1fr 1fr;
  gap: 40px 32px;
}

.advantages-item {
  position: relative;
  padding-left: 64px;
  list-style-type: none;
}

.advantages-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  border: 2px solid #2D3440;
  border-radius: 50%;
}

.advantages-ice-cream::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 8px;
  width: 32px;
  height: 32px;
  background-image: url("../images/main/ice-cream-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages-cow::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 8px;
  width: 32px;
  height: 32px;
  background-image: url("../images/main/cow-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages-leaf::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 8px;
  width: 32px;
  height: 32px;
  background-image: url("../images/main/leaf-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages-thermometer::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 8px;
  width: 32px;
  height: 32px;
  background-image: url("../images/main/thermometer-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages-subtitle {
  margin: 0;
  padding: 0;
}

/* article section (news/sub) */

.news-subscribe-wrapper {
  display: grid;
  margin-bottom: 80px;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.news-subscribe-banners {
  border-radius: 16px;
  background-color: #FFFFFF;
}

.article-news {
  display: flex;
  flex-direction: column;
  padding: 33px 235px 68px 32px;
  gap: 13px;
  background-image: url("");
  background-size: ;
  background-repeat: no-repeat;
  background-position: ;
}

.news-subscribe-label {
  margin: 0;
  line-height: 20px;
  font-weight: 400;
  color: #565C66;
}

.article-news-title {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
}

.article-news-link {
  text-decoration: none;
  color: #2D3440;
}

.article-subscribe {
  position: relative;
  padding: 6px;
  background-image: url("../images/main/subscribe-background.png");
  background-position: center;
  background-size: cover;
}

.article-subscribe-wrapper {
  display: flex;
  padding: 26px;
  flex-direction: column;
  gap: 42px;
  border-radius: 16px;
  background-color: #FFFFFF;
}

.article-subscribe-text {
  margin: 0;
}

.mailing-form {
  display: grid;
  grid-template-columns: 332px 160px;
  gap: 14px;
  align-items: center;
}

.email-field {
  margin: 2px 0;
  padding: 13px 160px 13px 15px;
  width: 332px;
  font-size: 16px;
  line-height: 20px;
  color: #B9B9B9;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
}

/* delivery section */

.delivery-wrapper {
  display: flex;
  margin-bottom: 80px;
  padding: 64px;
  padding-left: 100px;
  gap: 135px;
  background-image: url("../images/main/delivery-background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.delivery-content-wrapper {
  padding: 103px 0 99px;
  max-width: 400px;
}

.delivery-title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  color: #2D3440;
}

.delivery-subtitle {
  margin: 0;
  color: #565C66;
}

.delivery-appointment-wrapper {
  padding: 40px 40px 42px;
  width: 500px;
  background-color: #FCFCFC;
  border-radius: 8px;
  box-shadow: 0 15px 40px 0 rgba(0, 0, 0, .12);
}

.appointment-info {
  margin: 0;
  margin-bottom: 32px;
  color: #565C66;
}

.appointment-form {
  display: grid;
  grid-template-columns: 117px 152px 119px;
  gap: 20px 16px;
}

.field-group {
  display: flex;
  margin: 0;
  flex-direction: column;
}

.appointment-form-date {

}

.appointment-form-phone {
  grid-column: 2 / -1;
}

.appointment-form-address {
  grid-column: 1 / -1;
  margin-bottom: 12px;
}

.form-label {
  margin-bottom: 8px;
  line-height: 20px;
  font-weight: 700;
  color: #2D3440;
}

.form-label-icon {
  position: relative;
  padding-right: 14px;
}

.tooltip {
  position: absolute;
  margin-top: 4px;
  margin-left: 5px;
  width: 14px;
  height: 14px;
}

.tooltip-toggle {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.tooltip-icon {
  display: block;
  width: 100%;
  height: 100%;
}

.tooltip-text {
  position: absolute;
  display: none;
  margin-left: 7px;
  padding: 10px 8px 10px 15px;
  min-width: 162px;
  font-size: 12px;
  line-height: 16px;
  color: #565C66;
  font-weight: 400;
  text-transform: none;
  border: 1px solid #B9B9B9;
  border-radius: 1px;
  background-color: #FCFCFC;
  box-shadow: 0 2px 12px 0 #AD988F2E;
  left: 100%;
  bottom: 50%;
  transform: translateY(70%);
  z-index: 1;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus-visible + .tooltip-text {
  display: block;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 7px;
  top: 0;
  left: 0;
}

.appointment-form-field {
  margin: 0;
  padding: 13px 15px;
  font-size: 16px;
  line-height: 20px;
  color: #B9B9B9;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
}

.appointment-submit {
  grid-column: 2 / 3;
}

/* feedback section */

.feedback-wrapper {
  padding: 64px;
  background-image: url("../images/main/feedback-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.feedback-container {
  padding: 40px;
  width: 343px;
  border-radius: 8px;
  background-color: #FCFCFC;
  box-shadow: 0 8px 16px 0 #2D34401F;
}

.feedback-contact-address {
  margin-bottom: 24px;
}

.feedback-contact-phone {
  margin-bottom: 32px;
}

.address-label {
  margin: 0;
  margin-bottom: 12px;
  color: #565C66;
  font-style: normal;
}

.address-title {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  color: #2D3440;
}

.working-hours {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  font-weight: 400;
  color: #565C66;
}

/* footer */

.page-footer {
  padding: 48px 1px 48px 0;
}

.page-footer-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  max-width: 110px;
  gap: 16px;
  list-style-type: none;
}

.footer-social-item {
  display: flex;
}

.footer-social-link {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  outline: 2px solid rgba(255, 255, 255, .3);
  border-radius: 24px;
  cursor: pointer;
}

.footer-about-info-list {
  display: grid;
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
  width: 356px;
  grid-template-columns: auto 182px;
  row-gap: 8px;
}

.footer-about-info-item {
  display: flex;
  list-style-type: none;
}

.footer-about-info-item:nth-child(odd) {
  padding-left: 24px;
}

.about-info-link-current {
  font-weight: 700;
}

.footer-about-info-link {
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.footer-logo-wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-logo {
  display: flex;
}

.logo-copyright {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  color: #2D3440;
}
